/* =====Common CSS===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    text-decoration: none;
    transition: 0.3s;
}

input:focus {
    outline: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.lg-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 1.5;
}

h2 {
    font-size: 45px;
    line-height: 1.3;
    font-weight: 700;
}

.cta a {
    display: inline-block;
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
}

.orange {
    background-color: #fbaf32 !important;
}

.green {
    background-color: #719a0a !important;
    border-color: #719a0a !important;
}

.text-center {
    text-align: center;
}

.dflex {
    display: flex;
}

.active {
    color: #fbaf32 !important;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.33%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

/* Header CSS */
.main-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.main-header .row {
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul a {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 0 10px;
    color: #fff;
}

.navbar ul a:hover {
    color: #fbaf32;
}

.logo h1 {
    font-size: 40px;
    font-weight: 800;
    color: #fbaf32;
}

.logo h1 span {
    color: #719a0a
}

.logo h1:hover span {
    color: #fbaf32;
}

/*============= banner block =============*/
.banner-block {
    position: relative;
}

.banner-block img {
    height: 100vh;
    display: block;
    width: 100%;
}

.banner-block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}

.banner-block  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.banner-block .text .row {
    justify-content: center;
}

.banner-block  .cta {
    margin: 10px 5px 0;
}

.banner-block .text h1 {
    color: #fff;
    font-weight: 800;
}

.banner-block .text h1 span {
    color: #fbaf32;
}

.banner-block .text p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    max-width: 730px;
    margin: 10px auto;
}

/*=========== Booking css ============*/
.booking {
    background-color: rgba(0, 0, 0, .04);
}

.booking .left {
    padding-right: 20px;
}

.booking .row {
    align-items: center;
}

.booking .booking-form {
    padding: 60px 30px;
    background: #fbaf32;
}

.booking .booking-form  input,
.booking .booking-form select {
    width: 100%;
    border-color: #fff;
    color: #fff;
    background: transparent;
    padding: 13px 10px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.booking .booking-form .form-group {
    width: 100%;
}

::placeholder {
    color: #fff;
}

footer input::placeholder {
    color: #000;
}

.booking .booking-form .cta input {
    background: #fff;
    color: #fbaf32;
}

.booking h6 {
    font-size: 20px;
    font-weight: 700;
    color: #719a0a;
    margin-bottom: 10px;
    line-height: 1.5;
}

.booking h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
}

.booking p {
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 1.5;
    padding-top: 10px;
}

/*===========   inner bbanner css ===============*/
.inner-banner h1 {
    color: #fbaf32 !important;
    font-size: 60px;
    line-height: 1.3;
}

.inner-banner ul {
    justify-content: center;
    padding-top: 5px
}

.inner-banner ul li span {
    color: #fbaf32 !important;
    padding-left: 10px;
}

.inner-banner ul li {
    color: #fff;
    font-size: 20px;
    padding-right: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

/*===========   about css ===============*/
.inner-banner {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/page-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    margin: 50px 0;
}

.about .w-50 {
    padding: 0 15px;
}

.about .row {
    align-items: center;
}

.about img {
    border-radius: 15px;
}

.about h6 {
    font-size: 20px;
    font-weight: 700;
    color: #719a0a;
    margin-bottom: 10px;
    line-height: 1.5;
}

.about p {
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 1.5;
    padding-top: 10px;
}

/*============== Feature css =================*/
.feature {
    padding: 20px 0 50px;
}

.feature  .feature-item i {
    position: relative;
    display: block;
    color: #719a0a;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 15px;
    background-image: linear-gradient(#719a0a, #fbaf32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature  .feature-item i:before {
    font-size: 60px;
}

.feature .feature-item {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
}

.feature  .feature-item h3 {
    margin-bottom: 10px;
}

/*========== chef css ===============*/
.team {
    padding: 50px 0;
}

.intro {
    padding-bottom: 60px;
}

.intro h6 {
    color: #719a0a;
    margin-bottom: 5px;
    position: relative;
    font-size: 20px;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .07);
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.team .team-text h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.team .team-img {
    position: relative;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.team .w-25 {
    padding: 0 15px;
}

/*=========== menu css ===========*/
.menu {
    padding: 20px 0 50px;
}

.menu .menu-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu .menu-img {
    width: 80px;
    margin-right: 20px;
}

.menu .menu-img img {
    width: 100%;
    border-radius: 100px;
}

.menu .image img {
    max-width: 100%;
    border-radius: 15px;
}

.menu .menu-text h3,
.menu .menu-text p {
    font-size: 25px;
}

.menu .menu-text p strong {
    display: inline-block;
    float: left;
    padding-left: 5px;
    color: #fbaf32;
    background: #ffffff;
}

.nav-pills {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.nav-pills .cta a {
    padding: 10px;
}

.nav-pills .cta {
    margin: 0 5px;
}

.menu .intro {
    padding-bottom: 40px;
}

/*============= contact css==============*/
.contact .w-50 {
    padding: 0 15px;
}

.contact iframe {
    width: 100%;
    border-radius: 15px;
}

.contact {
    padding: 20px 0 50px;
}

.contact .form-group {
    width: 100%;
    margin-bottom: 16px;
}

.contact .form-group input,
.contact .form-group textarea {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 12px  15px;
    width: 100%;
}

.contact .form-group textarea {
    height: 150px;
    resize: none !important;
}

.contact .contact-form textarea {
    resize: none;
}

.contact .form-cta input {
    padding: 14px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.contact ::placeholder {
    color: rgba(0, 0, 0, .1);
}

/*============= footer css ============*/
.site-footer {
    padding-top: 90px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, .04);
}

.site-footer h2 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #fbaf32;
}

.site-footer    .left li i {
    color: #fbaf32;
    padding-right: 5px;
}

.site-footer li a {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-social {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.footer-social a {
    display: inline-flex;
    background-color: #fbaf32;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 0;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.form-group input {
    width: 100%;
    display: block;
    padding: 15px 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #fbaf32;
}

.form-group {
    width: 75%;
}

.form-cta {
    width: 25%;
}

.form-cta button {
    background: #fbaf32;
    width: 100%;
    height: 100%;
    border: 1px solid #fbaf32;
    color: #fff;
    font-size: 18px;
}